{% extends "main.html" %}
{% block content %}
  {% include "header.html" %}

  <h1>{{restaurant.name}}</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li><strong>{{ message }} </strong></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div>
    <p>The business owner is: {{creator.name}}</p>
  </div>
  <div>
    <p>Create a   <a href={{ url_for('newMenuItem', restaurant_id=restaurant.id) }}>New</a>  Menu Item</p>
  </div>

  {% for menuItem in menuItems %}
    <div>
    <h2>{{menuItem.name}}</h2>
    <p>{{menuItem.description}}</p>
    <p> {{menuItem.price}} </p>
    </div>
  {% endfor %}
{% endblock %}
